<!-- discovery.component.html -->

<h2>Cluster Nodes</h2>

<ul>
	<li *ngFor="let node of nodes">{{node.name}} {{node.ipaddr}}</li>
</ul>

<h2>Cluster Status</h2>
<div>{{ clusterStatus }}</div>

<h2>Node Operations</h2>
<form>
<div>
  <label class="label-text" for="nodeName">Node Name:</label>
  <input type="text" id="nodeName" required>
</div>
  
<div>
  <label class="label-text" for="nodeIp">Node IP:</label>
  <input type="text" id="nodeIp" required>
</div>

<div>
  <button type="submit" (click)="registerNode(nodeName.value, nodeIp.value)">Register</button>
  <button type="submit" (click)="deregisterNode(nodeName.value, nodeIp.value)">Deregister</button>
</div>
</form>
<p>discovery works!</p>
