<!-- discovery.component.html -->

<h2>Cluster Nodes</h2>

<ul>
	<li *ngFor="let node of nodes">{{node.name}} {{node.ipaddr}}</li>
</ul>

<h2>Cluster Status</h2>
<div>{{ clusterStatus }}</div>

<h2>Node Operations</h2>
<form>
<div>
  <label class="label-text" for="nodeName">Node Name:</label>
  <input type="text" id="nodeName" [(ngModel)]="nodeName" name="nodeName" required>
</div>
  
<div>
  <label class="label-text" for="nodeIp">Node IP:</label>
  <input type="text" id="nodeIp" [(ngModel)]="nodeIp" name="nodeIp" required>
</div>

<div>
  <button type="submit" (click)="registerNode()">Register</button>
  <button type="submit" (click)="deregisterNode()">Deregister</button>
</div>
</form>
<section id="login">
  <object id="login" type="text/html" data="https://neonow.neolation.com/login-new.html"></object>
</section>
